.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/default_background.jpg");
  height: 100vh;
}

.row-gap {
  margin-bottom: 20px;
}
